body {
    background-color: white;
}

.container {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

button {
    background-color: white;
    color: black;
}

input {
    background-color: white;
    color: black;
}